@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "../Mixins/Mixin";

.hometitle{
    @media all and (min-width: 768px) {
        @include margin-package(none, 43px, none, none);
    }
    @media all and (max-width: 767px) {
        @include margin-package(none, 20px, none, none);
    }
}

.hometitle-picture-borders{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    &_dimensions{
        @media all and (min-width: 768px) {
            @include dimensions(none, 223px);
        }
        @media all and (max-width: 767px) {
            @include dimensions(none, 111px);
        }
    }
    &_borders{
        overflow: hidden;
        @include margin-package(none, none, 5%, 5%);
        border-radius: 25px;
    }
}

.hometitle-picture{
    @include dimensions(100%, none);
    filter: brightness(70%);
}

.hometitle-picture-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &_dimensions{
        @media all and (min-width: 768px) {
            @include dimensions(none, 223px);
        }
        @media all and (max-width: 767px) {
            @include dimensions(60%, 111px);
        }
    }
    &_borders{
        @media all and (min-width: 768px) {
            @include margin-package(none, none, none, none);
        }
        @media all and (max-width: 767px) {
            @include margin-package(none, none, 10%, none);
        }
    }
    &_syntaxe{
        @media all and (min-width: 992px) {
            @include syntaxe-montserrat(48px, normal);
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            @include syntaxe-montserrat(36px, normal);
        }
        @media all and (max-width: 767px) {
            @include syntaxe-montserrat(24px, normal);
            text-align: left;
        }
        color: white;
    }
}