@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "../Mixins/Mixin";

.profil{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media all and (min-width: 768px) {
        @include dimensions(85%, none);
        gap: 25px;
    }
    @media all and (max-width: 767px) {
        @include dimensions(40%, none);
        gap: 15px;
    }
}

.profil-name{
    @media all and (min-width: 992px) {
        @include syntaxe-montserrat(18px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-montserrat(15px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-montserrat(12px, normal);
    }
    color: #FF6060;
    @include dimensions(40%, none);
    text-align: right;
}

.profil-borders{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @media all and (min-width: 992px) {
        @include dimensions(64px, 64px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(48px, 48px);
    }
    @media all and (max-width: 767px) {
        @include dimensions(32px, 32px);
    }
    border-radius: 50%;
}

.profil-photo{
    @media all and (min-width: 992px) {
        @include dimensions(none, 64px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(none, 48px);
    }
    @media all and (max-width: 767px) {
        @include dimensions(none, 32px);
    }
}