@import "../Mixins/Mixin";

.AboutCardListStyle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    @include dimensions(none, auto);
    @media all and (min-width: 768px) {
        min-height: 940px;
    }
    @media all and (max-width: 767px) {
        min-height: 700px;
    }
}