@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "../Mixins/Mixin";


.cardpagetitle{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media all and (min-width: 768px) {
        justify-content: space-between;
        align-items: flex-start;
    }
    @media all and (max-width: 767px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &_borders{
        @include margin-package(none, none, 5%, 5%);
    }
}

.Introduction{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @media all and (min-width: 992px) {
        @include dimensions(80%, 150px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(75%, 150px);
    }
    @media all and (max-width: 767px) {
        @include dimensions(100%, 120px);
    }
}

.Introduction-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media all and (min-width: 768px) {
        @include dimensions(none, 45px);
    }
    @media all and (max-width: 767px) {
        @include dimensions(none, 30px);
    }
}

.Introduction-content h2{
    @media all and (min-width: 992px) {
        @include syntaxe-montserrat(36px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-montserrat(27px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-montserrat(18px, normal);
    }
    color: #FF6060;
    text-align: left;
}

.Introduction-content h3{
    @media all and (min-width: 992px) {
        @include syntaxe-montserrat(18px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-montserrat(16px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-montserrat(14px, normal);
    }
    color: #FF6060;
    text-align: left;
}

.cardpage-tags{
    display: flex;
    justify-content: wrap;
    align-items: center;
    &_dimensions{
        @include dimensions(90%, auto);
    }
    &_borders{
        @include margin-package(none, none, -40px, none);
    }
    &_aspect{
        list-style-type: none;
        gap: 2%;
    }
}

.cardpage-tags-element{
    display: flex;
    justify-content: center;
    align-items: center;
    &_dimensions{
        @include dimensions(150px, auto);
        min-height: 25px;
    }
    &_borders{
        border-radius: 10px;
        border: none;
    }
    &_aspect{
        background-color: #FF6060;
        color: #ffffff;
        @media all and (min-width: 992px) {
            @include syntaxe-montserrat(14px, normal);
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            @include syntaxe-montserrat(12px, normal);
        }
        @media all and (max-width: 767px) {
            @include syntaxe-montserrat(10px, normal);
        }
    }
}

.profil-square{
    display: flex;
    @media all and (min-width: 768px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }
    @media all and (max-width: 767px) {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    &_dimensions{
        @media all and (min-width: 992px) {
            @include dimensions(20%, 150px);
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            @include dimensions(25%, 150px);
        }
        @media all and (max-width: 767px) {
            @include dimensions(100%, 40px);
        }
    }
    &_aspect{
        @media all and (min-width: 992px) {
            row-gap: 25px;
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            row-gap: 40px;
        }
        @media all and (max-width: 767px) {
            row-gap: none;
        }
    }
}

.CardPageWindow{
    display: flex;
    @media all and (min-width: 768px) {
        justify-content: space-between;
        align-items: flex-start;
    }
    @media all and (max-width: 767px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 20px;
    }
    &_dimensions{
        @include dimensions(none, auto);
        min-height: 300px;
    }
    &_borders{
        @include margin-package(none, 25px, 5%, 5%);
    }
}