@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.cardpagetitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media all and (min-width: 768px) {
  .cardpagetitle {
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media all and (max-width: 767px) {
  .cardpagetitle {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.cardpagetitle_borders {
  margin-top: none !important;
  margin-bottom: none !important;
  margin-left: 5%;
  margin-right: 5%;
}

.Introduction {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media all and (min-width: 992px) {
  .Introduction {
    width: 80%;
    height: 150px !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .Introduction {
    width: 75%;
    height: 150px !important;
  }
}
@media all and (max-width: 767px) {
  .Introduction {
    width: 100%;
    height: 120px !important;
  }
}

.Introduction-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media all and (min-width: 768px) {
  .Introduction-content {
    width: none;
    height: 45px !important;
  }
}
@media all and (max-width: 767px) {
  .Introduction-content {
    width: none;
    height: 30px !important;
  }
}

.Introduction-content h2 {
  color: #FF6060;
  text-align: left;
}
@media all and (min-width: 992px) {
  .Introduction-content h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .Introduction-content h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 27px;
    font-weight: normal;
  }
}
@media all and (max-width: 767px) {
  .Introduction-content h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
}

.Introduction-content h3 {
  color: #FF6060;
  text-align: left;
}
@media all and (min-width: 992px) {
  .Introduction-content h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .Introduction-content h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
}
@media all and (max-width: 767px) {
  .Introduction-content h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: normal;
  }
}

.cardpage-tags {
  display: flex;
  justify-content: wrap;
  align-items: center;
}
.cardpage-tags_dimensions {
  width: 90%;
  height: auto !important;
}
.cardpage-tags_borders {
  margin-top: none !important;
  margin-bottom: none !important;
  margin-left: -40px;
  margin-right: none;
}
.cardpage-tags_aspect {
  list-style-type: none;
  gap: 2%;
}

.cardpage-tags-element {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardpage-tags-element_dimensions {
  width: 150px;
  height: auto !important;
  min-height: 25px;
}
.cardpage-tags-element_borders {
  border-radius: 10px;
  border: none;
}
.cardpage-tags-element_aspect {
  background-color: #FF6060;
  color: #ffffff;
}
@media all and (min-width: 992px) {
  .cardpage-tags-element_aspect {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .cardpage-tags-element_aspect {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: normal;
  }
}
@media all and (max-width: 767px) {
  .cardpage-tags-element_aspect {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: normal;
  }
}

.profil-square {
  display: flex;
}
@media all and (min-width: 768px) {
  .profil-square {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
@media all and (max-width: 767px) {
  .profil-square {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
@media all and (min-width: 992px) {
  .profil-square_dimensions {
    width: 20%;
    height: 150px !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .profil-square_dimensions {
    width: 25%;
    height: 150px !important;
  }
}
@media all and (max-width: 767px) {
  .profil-square_dimensions {
    width: 100%;
    height: 40px !important;
  }
}
@media all and (min-width: 992px) {
  .profil-square_aspect {
    row-gap: 25px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .profil-square_aspect {
    row-gap: 40px;
  }
}
@media all and (max-width: 767px) {
  .profil-square_aspect {
    row-gap: none;
  }
}

.CardPageWindow {
  display: flex;
}
@media all and (min-width: 768px) {
  .CardPageWindow {
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media all and (max-width: 767px) {
  .CardPageWindow {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
  }
}
.CardPageWindow_dimensions {
  width: none;
  height: auto !important;
  min-height: 300px;
}
.CardPageWindow_borders {
  margin-top: none !important;
  margin-bottom: 25px !important;
  margin-left: 5%;
  margin-right: 5%;
}/*# sourceMappingURL=CardPageDescription.css.map */