@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "../Mixins/Mixin";

.abouttitle-picture-borders{
    display: flex;
    justify-content: center;
    align-items: center;
    &_dimensions{
        @include dimensions(none, 223px);
    }
    &_borders{
        overflow: hidden;
        @media all and (min-width: 992px) {
            @include margin-package(none, 43px, 5%, 5%);
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            @include margin-package(none, 43px, 5%, 5%);
        }
        @media all and (max-width: 767px) {
            @include margin-package(10px, 20px, 5%, 5%);
        }
        border-radius: 25px;
    }
}

.abouttitle-picture{
    @include dimensions(100%, none);
    filter: brightness(70%);
}