@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$orange: #FF6060;

@import "../Mixins/Mixin";

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_border{
        @media all and (min-width: 768px) {
            @include padding-package(40px, 40px, 5%, 2%);
        }
        @media all and (max-width: 767px) {
            @include padding-package(15px, none, 5%, 2%);
        }
    }
}

.logo{
    @media all and (max-width: 767px) {
        @include dimensions(150px, auto);
    }
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_dimensions{
        @include dimensions(22%, none);
        @media all and (min-width: 768px) {
            min-width: 300px;
        }
        @media all and (max-width: 767px) {
            min-width: 110px;
        }
    }
    &_borders{
        @include margin-package(none, none, none, 4%);
    }
}

.menu-link-inactive{
    color: $orange;
    text-decoration: none;
    border-bottom: 2px white solid;
    @media all and (min-width: 768px) {
        @include syntaxe-montserrat(24px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-montserrat(12px, normal);
    }
}

.menu-link-active{
    color: $orange;
    border-bottom: 2px $orange solid;
    text-decoration: none;
    @media all and (min-width: 768px) {
        @include syntaxe-montserrat(24px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-montserrat(12px, normal);
    }
}

.menu-link-inactive:hover {
    color: $orange;
    border-bottom: 2px $orange solid;
    text-decoration: none;
    @media all and (min-width: 768px) {
        @include syntaxe-montserrat(24px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-montserrat(12px, normal);
    }
}