@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.AboutCardStyle {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 992px) {
  .AboutCardStyle {
    margin-top: none;
    margin-bottom: none;
    margin-left: 13%;
    margin-right: 13%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .AboutCardStyle {
    margin-top: none;
    margin-bottom: none;
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media all and (max-width: 767px) {
  .AboutCardStyle {
    margin-top: none;
    margin-bottom: none;
    margin-left: 6%;
    margin-right: 6%;
  }
}

.styleBtn {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  cursor: pointer;
}
.styleBtn_dimensions {
  width: 100%;
  height: 47px;
}
.styleBtn_borders {
  border: none;
  border-radius: 5px;
}
@media all and (min-width: 992px) {
  .styleBtn_borders {
    padding-top: none;
    padding-bottom: none;
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media all and (max-width: 991px) {
  .styleBtn_borders {
    padding-top: none;
    padding-bottom: none;
    padding-left: 2%;
    padding-right: 2%;
  }
}
.styleBtn_text {
  color: #ffffff;
}
@media all and (min-width: 992px) {
  .styleBtn_text {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .styleBtn_text {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
}
@media all and (max-width: 767px) {
  .styleBtn_text {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: normal;
  }
}

.styleContaint {
  z-index: 1;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}
@media all and (min-width: 768px) {
  .styleContaint {
    align-items: center;
  }
}
@media all and (max-width: 767px) {
  .styleContaint {
    align-items: flex-start;
  }
}
@media all and (min-width: 768px) {
  .styleContaint_dimensions {
    width: 100%;
    height: 146px;
  }
}
@media all and (max-width: 767px) {
  .styleContaint_dimensions {
    width: 100%;
    height: auto;
  }
}
.styleContaint_borders {
  margin-top: -5px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  border-radius: 5px;
}
.styleContaint_text {
  width: 90%;
  height: none;
  color: #ff6060;
  text-align: left;
}
@media all and (min-width: 992px) {
  .styleContaint_text {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .styleContaint_text {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
}
@media all and (max-width: 767px) {
  .styleContaint_text {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: normal;
  }
}

.styleContaint_list {
  border: 1px solid red;
}/*# sourceMappingURL=InformationCard.css.map */