@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.AboutCardStyle1 {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 768px) {
  .AboutCardStyle1 {
    width: 45%;
    height: auto !important;
  }
}
@media all and (max-width: 767px) {
  .AboutCardStyle1 {
    width: 100%;
    height: auto !important;
  }
}

.AboutCardStyle2 {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 992px) {
  .AboutCardStyle2 {
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: 13%;
    margin-right: 13%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .AboutCardStyle2 {
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media all and (max-width: 767px) {
  .AboutCardStyle2 {
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: 6%;
    margin-right: 6%;
  }
}

.styleBtn1 {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  cursor: pointer;
}
@media all and (min-width: 768px) {
  .styleBtn1_dimensions {
    width: 100%;
    height: 47px !important;
  }
}
@media all and (max-width: 767px) {
  .styleBtn1_dimensions {
    width: 100%;
    height: 30px !important;
  }
}
.styleBtn1_borders {
  border: none;
  border-radius: 5px;
}
@media all and (min-width: 992px) {
  .styleBtn1_borders {
    padding-top: none !important;
    padding-bottom: none !important;
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media all and (max-width: 991px) {
  .styleBtn1_borders {
    padding-top: none !important;
    padding-bottom: none !important;
    padding-left: 2%;
    padding-right: 2%;
  }
}
.styleBtn1_text {
  color: #ffffff;
}
@media all and (min-width: 992px) {
  .styleBtn1_text {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .styleBtn1_text {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
}
@media all and (max-width: 767px) {
  .styleBtn1_text {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: normal;
  }
}

.styleBtn2 {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  cursor: pointer;
}
@media all and (min-width: 768px) {
  .styleBtn2_dimensions {
    width: 100%;
    height: 47px !important;
  }
}
@media all and (max-width: 767px) {
  .styleBtn2_dimensions {
    width: 100%;
    height: 30px !important;
  }
}
.styleBtn2_borders {
  border: none;
  border-radius: 5px;
}
@media all and (min-width: 992px) {
  .styleBtn2_borders {
    padding-top: none !important;
    padding-bottom: none !important;
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media all and (max-width: 991px) {
  .styleBtn2_borders {
    padding-top: none !important;
    padding-bottom: none !important;
    padding-left: 2%;
    padding-right: 2%;
  }
}
.styleBtn2_text {
  color: #ffffff;
}
@media all and (min-width: 992px) {
  .styleBtn2_text {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .styleBtn2_text {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
}
@media all and (max-width: 767px) {
  .styleBtn2_text {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: normal;
  }
}

.styleContaint1 {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f7f7f7;
}
.styleContaint1_dimensions {
  width: 100%;
  height: auto !important;
}
.styleContaint1_borders {
  padding-top: 15px !important;
  padding-bottom: none !important;
  padding-left: none;
  padding-right: none;
  border-radius: 5px;
}
@media all and (min-width: 768px) {
  .styleContaint1_borders {
    margin-top: -5px !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (max-width: 767px) {
  .styleContaint1_borders {
    margin-top: -10px !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: none;
  }
}

.styleContaint2 {
  z-index: 1;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}
@media all and (min-width: 768px) {
  .styleContaint2 {
    align-items: center;
  }
}
@media all and (max-width: 767px) {
  .styleContaint2 {
    align-items: flex-start;
  }
}
@media all and (min-width: 768px) {
  .styleContaint2_dimensions {
    width: 100%;
    height: 146px !important;
  }
}
@media all and (max-width: 767px) {
  .styleContaint2_dimensions {
    width: 100%;
    height: auto !important;
  }
}
.styleContaint2_borders {
  margin-top: -5px !important;
  margin-bottom: none !important;
  margin-left: none;
  margin-right: none;
  border-radius: 5px;
}/*# sourceMappingURL=InformationCard.css.map */