@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "../Mixins/Mixin";


.AboutCardStyle1{
    display: flex;
    flex-direction: column;
    @media all and (min-width: 768px) {
        @include dimensions(45%, auto);
    }
    @media all and (max-width: 767px) {
        @include dimensions(100%, auto);
    }
}

.AboutCardStyle2{
    display: flex;
    flex-direction: column;
    @media all and (min-width: 992px) {
        @include margin-package(none, none, 13%, 13%);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include margin-package(none, none, 10%, 10%);
    }
    @media all and (max-width: 767px) {
        @include margin-package(none, none, 6%, 6%);
    }
}

.styleBtn1{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    cursor: pointer;
    &_dimensions{
        @media all and (min-width: 768px) {
            @include dimensions(100%, 47px);
        }
        @media all and (max-width: 767px) {
            @include dimensions(100%, 30px);
        }
    }
    &_borders{
        @media all and (min-width: 992px) {
            @include padding-package(none, none, 3%, 3%);
        }
        @media all and (max-width: 991px) {
            @include padding-package(none, none, 2%, 2%);
        }
        border: none;
        border-radius: 5px;
    }
    &_text{
        @media all and (min-width: 992px) {
            @include syntaxe-montserrat(24px, normal);
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            @include syntaxe-montserrat(18px, normal);
        }
        @media all and (max-width: 767px) {
            @include syntaxe-montserrat(13px, normal);
        }
        color: #ffffff;
    }
}

.styleBtn2{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    cursor: pointer;
    &_dimensions{
        @media all and (min-width: 768px) {
            @include dimensions(100%, 47px);
        }
        @media all and (max-width: 767px) {
            @include dimensions(100%, 30px);
        }
    }
    &_borders{
        @media all and (min-width: 992px) {
            @include padding-package(none, none, 3%, 3%);
        }
        @media all and (max-width: 991px) {
            @include padding-package(none, none, 2%, 2%);
        }
        border: none;
        border-radius: 5px;
    }
    &_text{
        @media all and (min-width: 992px) {
            @include syntaxe-montserrat(24px, normal);
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            @include syntaxe-montserrat(18px, normal);
        }
        @media all and (max-width: 767px) {
            @include syntaxe-montserrat(13px, normal);
        }
        color: #ffffff;
    }
}

.styleContaint1{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f7f7f7;
    &_dimensions{
        @include dimensions(100%, auto);
    }
    &_borders{
        @media all and (min-width: 768px) {
            @include margin-package(-5px, none, none, none);
        }
        @media all and (max-width: 767px) {
            @include margin-package(-10px, none, none, none);
        }
        @include padding-package(15px, none, none, none);
        border-radius: 5px;
    }
}

.styleContaint2{
    z-index: 1;
    display: flex;
    justify-content: center;
    @media all and (min-width: 768px) {
        align-items: center;
    }
    @media all and (max-width: 767px) {
        align-items: flex-start;
    }
    background-color: #f7f7f7;
    &_dimensions{
        @media all and (min-width: 768px) {
            @include dimensions(100%, 146px);
        }
        @media all and (max-width: 767px) {
            @include dimensions(100%, auto);
        }
    }
    &_borders{
        @include margin-package(-5px, none, none, none);
        border-radius: 5px;
    }
}