@mixin padding-package($top, $bottom, $left, $right) {
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;
}

@mixin margin-package($top, $bottom, $left, $right) {
    margin-top: $top;
    margin-bottom: $bottom;
    margin-left: $left;
    margin-right: $right;
}

@mixin syntaxe-montserrat($size, $type) {
    font-family: 'Montserrat', sans-serif;
    font-size: $size;
    font-weight: $type;
}

@mixin dimensions($width, $height) {
    width: $width; 
    height: $height;
}